/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

div.head {
    font-weight: bold;
    padding: 10px;
}

div.head a.no-decoration, div.head, thead th {
    background-color: #428bca;
    color: white;
}

div.head a.no-decoration:hover {
    background-color: #428bca;
    color: lightgrey;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F8F8F8;
    border-color: #CCCCCC #CCCCCC rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px;
}

.tab-content {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0) #CCCCCC #CCCCCC;
    background: none repeat scroll 0 0 #F8F8F8;
    margin-bottom: 20px;
    padding: 6px 10px
}

.top-buffer {
    margin-top: 10px;
}

.with-bottom-border {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #CCCCCC;;
}

.no-decoration {
    text-decoration: none !important;
    cursor: default;
}

.no-left-padding {
    padding-left: 0px;
}

.no-right-padding {
    padding-right: 0px;
}