<div class="container-fluid">
    <div class="top-buffer row">
        <div class="col-md-4 pull-left text-center">
            <img height="300" width="auto" src="img/nexus-5.jpg" class="img-rounded">
        </div>
        <div class="col-md-8 pull-right">
            <div class="container-fluid head">
                <div class="row">
                    <div class="col-md-8">{{deviceType.name}}</div>
                    <div class="col-md-4 pull-right text-right">
                        <a class="no-decoration" href="#/deviceType/{{deviceTypeId}}/edit">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="top-buffer row">
                    <div class="col-md-12 text-justify">{{deviceType.description}}</div>
                </div>
                <div class="row top-buffer"></div>
                <div class="row with-bottom-border"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="top-buffer row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="top-buffer row">
                    <div class="col-md-12">
                        <tabset>
                            <tab heading="{{$parent.numericalOrder($index + 1  )}} Name Record"
                                 ng-repeat="personName in person.personNames" active="personName.active">
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
            <tabset>
                <tab heading="Specifications" active="tab.active">
                    <div class="container-fluid">
                        <div class="row" ng-repeat="(key, values) in groupedDetails">
                            <div class="container-fluid">
                                <div class="row head">
                                    <div class="col-md-8">{{key}}</div>
                                    <div class="col-md-4 pull-right text-right">
                                        <a class="no-decoration" ng-click="editDeviceType()">
                                            <span class="glyphicon glyphicon-pencil"></span> Edit
                                        </a>
                                    </div>
                                </div>
                                <div class="top-buffer bottom-buffer row" ng-repeat="value in values">
                                    <div class="col-md-2"><strong>{{value.subCategory}}</strong></div>
                                    <div class="col-md-10">{{value.categoryValue}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>