<div class="page-header">
    <h2>Registered Devices</h2>
</div>
<div class="form-group">
    <label class="sr-only" for="searchDevice">Search Devices</label>
    <input type="search" ng-model="search" class="form-control" id="searchDevice" placeholder="Search for devices ...">
</div>
<table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>IMEI</th>
        <th>SIM</th>
        <th>Purchased On</th>
        <th>Status</th>
        <th>Type</th>
    </tr>
    <tbody>
    <tr ng-hide="devices.length">
        <td colspan="7" class="no-decoration" ng-click="redirectCreateDevice()">
            No data available to display. Type search phrase in the search box or click here to add new device!
        </td>
    </tr>
    <tr ng-repeat="device in devices">
        <td class="text-center"><a href="#/device/{{device.id}}"><i class="glyphicon glyphicon-pencil"></i></a></td>
        <td>{{device.name}}</td>
        <td>{{device.imei}}</td>
        <td>{{device.sim}}</td>
        <td>{{device.purchasedDate}}</td>
        <td>{{device.status}}</td>
        <td>{{device.deviceType.name}}</td>
    </tr>
    </tbody>
    </thead>
</table>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 no-left-padding">
            <div ng-show="count > pageSize" class="row">
                <div class="col-md-12 pull-left">
                    <pagination page="currentPage" total-items="count" items-per-page="pageSize" max-size="maxSize"
                                boundary-links="true">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>