<div class="container-fluid">
    <div class="top-buffer row">
        <div class="col-md-4 pull-left text-center">
            <img height="300" width="auto" src="img/nexus-5.jpg" class="img-rounded">
        </div>
        <div class="col-md-8 pull-right">
            <div class="container-fluid head">
                <div class="row">
                    <div class="col-md-8">{{device.name}}</div>
                    <div class="col-md-4 pull-right text-right">
                        <a class="no-decoration" href="#/device/{{deviceId}}/edit">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="top-buffer row">
                    <div class="col-md-3"><strong>IMEI</strong></div>
                    <div class="col-md-9">{{device.imei}}</div>
                </div>
                <div class="row top-buffer"></div>
                <div class="row with-bottom-border"></div>
                <div class="top-buffer row">
                    <div class="col-md-3"><strong>SIM</strong></div>
                    <div class="col-md-9">{{device.sim}}</div>
                </div>
                <div class="row top-buffer"></div>
                <div class="row with-bottom-border"></div>
                <div class="top-buffer row">
                    <div class="col-md-3"><strong>Purchased on</strong></div>
                    <div class="col-md-9">{{device.purchasedDate | date:'dd-MMM-yyyy'}}</div>
                </div>
                <div class="row top-buffer"></div>
                <div class="row with-bottom-border"></div>
                <div class="top-buffer row">
                    <div class="col-md-3"><strong>Device type</strong></div>
                    <div class="col-md-9">{{device.deviceType.name}}</div>
                </div>
                <div class="row top-buffer"></div>
                <div class="row with-bottom-border"></div>
                <div class="top-buffer row">
                    <div class="col-md-12 text-justify">{{device.deviceType.description}}</div>
                </div>
                <div class="row top-buffer"></div>
                <div class="row with-bottom-border"></div>
                <div class="top-buffer row">
                    <div class="col-md-3"><strong>Assigned to</strong></div>
                    <div class="col-md-5">N/A</div>
                    <div class="col-md-4 pull-right text-right">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </div>
                </div>
                <div class="row top-buffer"></div>
                <div class="row with-bottom-border"></div>
            </div>
        </div>
    </div>
</div>
<div class="top-buffer row">
    <div class="col-md-12">
        <tabset>
            <tab heading="Specifications" active="tab.active">
                <div class="container-fluid" ng-repeat="(key, values) in groupedDetails">
                    <div class="head">{{key}}</div>
                    <div class="container-fluid" ng-repeat="value in values">
                        <div class="top-buffer row">
                            <div class="col-md-2"><strong>{{value.subCategory}}</strong></div>
                            <div class="col-md-10">{{value.categoryValue}}</div>
                        </div>
                        <div class="top-buffer row"></div>
                    </div>
                </div>
            </tab>
            <tab heading="Manage Device"></tab>
            <tab heading="Device Log Data"></tab>
        </tabset>
    </div>
</div>
</div>