<div class="container-fluid">
    <div class="top-buffer row">
        <div class="col-lg-4 pull-left">
            <img ng-show="female" height="200" width="200" src="img/female.png" class="img-rounded">
            <img ng-show="male" height="200" width="200" src="img/male.png" class="img-rounded">
        </div>
        <div class="col-lg-8 pull-right">
            <h2>{{preferredName.familyName}}, {{preferredName.givenName}}</h2>
            <h5>DOB: {{person.birthdate}}</h5>
        </div>
    </div>
    <div class="top-buffer row">
        <div class="col-lg-12">
            <tabset>
                <tab heading="Known Names" active="tab.active">
                    <div class="head">Names</div>
                    <div class="container-fluid" ng-repeat="personName in person.personNames">
                        <div class="top-buffer row">
                            {{personName.familyName}}, {{personName.givenName}} {{personName.middleName}}
                        </div>
                        <div class="row top-buffer"></div>
                        <div ng-hide="$index == person.personNames.length - 1" class="row last-row"></div>
                    </div>
                </tab>
                <tab heading="Known Addresses">
                    <div class="head">Address</div>
                    <div class="container-fluid" ng-repeat="personAddress in person.personAddresses">
                        <div class="top-buffer row">
                            <div class="col-lg-2"><strong>Address 1</strong></div>
                            <div class="col-lg-10">{{personAddress.address1}}</div>
                        </div>
                        <div class="top-buffer row">
                            <div class="col-lg-2"><strong>Address 2</strong></div>
                            <div class="col-lg-10">{{personAddress.address2}}</div>
                        </div>
                        <div class="top-buffer row">
                            <div class="col-lg-2"><strong>Village</strong></div>
                            <div class="col-lg-4">{{personAddress.cityVillage}}</div>
                            <div class="col-lg-2"><strong>District</strong></div>
                            <div class="col-lg-4">{{personAddress.countyDistrict}}</div>
                        </div>
                        <div class="top-buffer row">
                            <div class="col-lg-2"><strong>Province</strong></div>
                            <div class="col-lg-4">{{personAddress.stateProvince}}</div>
                            <div class="col-lg-2"><strong>Postal Code</strong></div>
                            <div class="col-lg-4">{{personAddress.postalCode}}</div>
                        </div>
                        <div class="row top-buffer"></div>
                        <div ng-hide="$index == person.personAddresses.length - 1" class="row last-row"></div>
                    </div>
                </tab>
                <tab heading="Device Assigned"></tab>
            </tabset>
        </div>
    </div>
</div>