<div class="container-fluid">
    <div class="top-buffer row">
        <div class="col-md-4 pull-left">
            <img ng-show="female" height="200" width="200" src="img/female.png" class="img-rounded">
            <img ng-show="male" height="200" width="200" src="img/male.png" class="img-rounded">
        </div>
        <div class="col-md-8 pull-right">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{preferredName.familyName}}, {{preferredName.givenName}}</h3>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Identifier</strong>
                            </div>
                            <div class="col-md-9">
                                {{person.identifier}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Gender</strong>
                            </div>
                            <div class="col-md-9">
                                <span ng-show="female">Female</span>
                                <span ng-show="male">Male</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Date of birth </strong>
                            </div>
                            <div class="col-md-9">
                                {{person.birthdate | date:'dd-MMM-yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-buffer row">
        <div class="col-md-12">
            <tabset>
                <tab heading="Known Names" active="tab.active">
                    <div class="container-fluid head">
                        <div class="row">
                            <div class="col-md-8">Names</div>
                            <div class="col-md-4 pull-right text-right">
                                <a class="no-decoration" href="#/person/{{personId}}/edit">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" ng-repeat="personName in person.personNames">
                        <div class="top-buffer row">
                            <div class="col-md-12">
                                {{personName.familyName}}, {{personName.givenName}} {{personName.middleName}}
                            </div>
                        </div>
                        <div class="row top-buffer"></div>
                        <div ng-hide="$index == person.personNames.length - 1" class="row with-bottom-border"></div>
                    </div>
                </tab>
                <tab heading="Known Addresses">
                    <div class="container-fluid head">
                        <div class="row">
                            <div class="col-md-8">Address</div>
                            <div class="col-md-4 pull-right text-right">
                                <a class="no-decoration" href="#/person/{{personId}}/edit">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" ng-repeat="personAddress in person.personAddresses">
                        <div class="top-buffer row">
                            <div class="col-md-2"><strong>Address 1</strong></div>
                            <div class="col-md-10">{{personAddress.address1}}</div>
                        </div>
                        <div class="top-buffer row">
                            <div class="col-md-2"><strong>Address 2</strong></div>
                            <div class="col-md-10">{{personAddress.address2}}</div>
                        </div>
                        <div class="top-buffer row">
                            <div class="col-md-2"><strong>Village</strong></div>
                            <div class="col-md-4">{{personAddress.cityVillage}}</div>
                            <div class="col-md-2"><strong>District</strong></div>
                            <div class="col-md-4">{{personAddress.countyDistrict}}</div>
                        </div>
                        <div class="top-buffer row">
                            <div class="col-md-2"><strong>Province</strong></div>
                            <div class="col-md-4">{{personAddress.stateProvince}}</div>
                            <div class="col-md-2"><strong>Postal Code</strong></div>
                            <div class="col-md-4">{{personAddress.postalCode}}</div>
                        </div>
                        <div class="row top-buffer"></div>
                        <div ng-hide="$index == person.personAddresses.length - 1" class="row with-bottom-border"></div>
                    </div>
                </tab>
                <tab heading="Device Assigned">
                    <div class="container-fluid">
                        <div class="row head" ng-hide="person.devices.length">
                            <div class="col-md-12">
                                No device assigned for this person!
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" ng-repeat="device in person.devices">
                        <div class="head row">
                            <div class="col-md-12">{{device.name}}</div>
                        </div>
                        <div class="top-buffer row">
                            <div class="col-md-2"><strong>SIM</strong></div>
                            <div class="col-md-4">{{device.sim}}</div>
                            <div class="col-md-2"><strong>IMEI</strong></div>
                            <div class="col-md-4">{{device.imei}}</div>
                        </div>
                        <div class="top-buffer row">
                            <div class="col-md-2"><strong>Purchased on</strong></div>
                            <div class="col-md-4">{{device.purchasedDate | date:'dd-MMM-yyyy'}}</div>
                            <div class="col-md-2"><strong>Device type</strong></div>
                            <div class="col-md-4">{{device.deviceType.name}}</div>
                        </div>
                        <div class="row top-buffer"></div>
                        <div ng-hide="$index == person.personAddresses.length - 1" class="row with-bottom-border"></div>
                    </div>
                </tab>
                <tab heading="Manage User">
                    <div class="container-fluid head" ng-hide="editingUser">
                        <div class="row">
                            <div class="col-md-8">User Information</div>
                            <div class="col-md-4 pull-right text-right">
                                <a class="no-decoration" ng-click="editUser()">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" ng-hide="editingUser">
                        <div class="bottom-buffer top-buffer row">
                            <div class="col-md-4"><strong>Username</strong></div>
                            <div class="col-md-8">**hidden**</div>
                        </div>
                        <div class="bottom-buffer top-buffer row">
                            <div class="col-md-4"><strong>Password</strong></div>
                            <div class="col-md-8">**hidden**</div>
                        </div>
                    </div>
                    <div class="container-fluid head" ng-show="editingUser">
                        <div class="row">
                            <div class="col-md-8">User Information</div>
                        </div>
                    </div>
                    <div class="container-fluid" ng-show="editingUser">
                        <div class="bottom-buffer top-buffer row">
                            <div class="col-md-4">
                                <label for="username"><strong>Username</strong></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" ng-model="username" class="form-control" id="username">
                            </div>
                        </div>
                        <div class="bottom-buffer top-buffer row">
                            <div class="col-md-4">
                                <label for="password"><strong>Password</strong></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" ng-model="password" class="form-control" id="password">
                            </div>
                        </div>
                        <div class="bottom-buffer top-buffer row">
                            <div class="col-md-4">
                                <label for="confirm-password"><strong>Confirm Password</strong></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" ng-model="confirmPassword" class="form-control" id="confirm-password">
                            </div>
                        </div>
                        <div class="bottom-buffer top-buffer row">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-default" ng-click="saveUser(username, password, confirmPassword)">Save</button>
                                <button type="submit" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>