<div class="container-fluid">
    <div class="top-buffer row">
        <div class="col-md-4 pull-left">
            <img ng-show="female" height="200" width="200" src="img/female.png" class="img-rounded">
            <img ng-show="male" height="200" width="200" src="img/male.png" class="img-rounded">
        </div>
        <div class="col-md-8 pull-right">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{preferredName.familyName}}, {{preferredName.givenName}}</h3>
                </div>
                <div class="panel-body">
                    Date of birth: {{person.birthdate | date:'dd-MMM-yyyy'}}
                </div>
            </div>
        </div>
    </div>
    <div class="top-buffer row">
        <div class="col-md-12">
            <tabset>
                <tab heading="Known Names" active="tab.active">
                    <div class="container-fluid head">
                        <div class="row">
                            <div class="col-md-8">Names</div>
                            <div class="col-md-4 pull-right text-right">
                                <a class="no-decoration" href="#/person/{{personId}}/edit">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" ng-repeat="personName in person.personNames">
                        <div class="top-buffer row">
                            <div class="col-md-12">
                                {{personName.familyName}}, {{personName.givenName}} {{personName.middleName}}
                            </div>
                        </div>
                        <div class="row top-buffer"></div>
                        <div ng-hide="$index == person.personNames.length - 1" class="row last-row"></div>
                    </div>
                </tab>
                <tab heading="Known Addresses">
                    <div class="container-fluid head">
                        <div class="row">
                            <div class="col-md-8">Address</div>
                            <div class="col-md-4 pull-right text-right">
                                <a class="no-decoration" href="#/person/{{personId}}/edit">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" ng-repeat="personAddress in person.personAddresses">
                        <div class="top-buffer row">
                            <div class="col-md-2"><strong>Address 1</strong></div>
                            <div class="col-md-10">{{personAddress.address1}}</div>
                        </div>
                        <div class="top-buffer row">
                            <div class="col-md-2"><strong>Address 2</strong></div>
                            <div class="col-md-10">{{personAddress.address2}}</div>
                        </div>
                        <div class="top-buffer row">
                            <div class="col-md-2"><strong>Village</strong></div>
                            <div class="col-md-4">{{personAddress.cityVillage}}</div>
                            <div class="col-md-2"><strong>District</strong></div>
                            <div class="col-md-4">{{personAddress.countyDistrict}}</div>
                        </div>
                        <div class="top-buffer row">
                            <div class="col-md-2"><strong>Province</strong></div>
                            <div class="col-md-4">{{personAddress.stateProvince}}</div>
                            <div class="col-md-2"><strong>Postal Code</strong></div>
                            <div class="col-md-4">{{personAddress.postalCode}}</div>
                        </div>
                        <div class="row top-buffer"></div>
                        <div ng-hide="$index == person.personAddresses.length - 1" class="row last-row"></div>
                    </div>
                </tab>
                <tab heading="Device Assigned"></tab>
            </tabset>
        </div>
    </div>
</div>